/*
 * $Id$
 *
 * Style sheet for nimblemachines.com wiki
 */

body {
  margin: 1pc 3pc 1pc 3pc;
}

a img {
  border: none;
}

img#icon {
/*  border: solid red 1px; */
  border: none;
  margin: 0;
  padding: 0;
}

div#header h1 {
/*  border: solid blue 1px; */
  border: none;
/*  margin-left: 0em; */
  padding: 0;
  display: inline;
  vertical-align: bottom;
  color: blue;
/*  float: left; */
}

div#content {
  clear: both;
/*  border: solid green 1px; */
/*  background: #eeeecc; */
}

div#footer {
/*  border: solid teal 1px; */
/*  background: #cceeee; */
}

div.voice2 /*, div.voice2 a */ {
  color: #008000
}

div.voice3 /*, div.voice3 a */ {
  color: #000080
}

div.voice4 /*, div.voice4 a */ {
  color: #800000
}

div.voice5 /*, div.voice5 a */ {
  color: #008080
}

div.voice6 /*, div.voice6 a */ {
  color: #800080
}

div.voice7 /*, div.voice7 a */ {
  color: #808000
}

div.voice8 /*, div.voice8 a */ {
  color: #808080
}

.changed {
  background: #ffdddd;
}

a.missing {
  background: #ddffdd;
/*  color: #cc00cc; */
}

hr {
/*  margin: 0; */
  border: solid gray;
  border-width: 1px 0 0 0;
}
