/*
 * $Id$
 *
 * Style sheet for nimblemachines.com wiki
 */

body {
  margin: 1pc 3pc 1pc 5pc;
  width: 35pc;
}

a img {
  border: none;
}

div#footer a img {
  margin: 0px 10px 0px 0px;
}

img#icon {
/*  border: solid red 1px; */
  border: none;
  margin: 0;
  padding: 0;
}

div#header h1 {
/*  border: solid blue 1px; */
  border: none;
/*  margin-left: 0em; */
  padding: 0;
  display: inline;
  vertical-align: bottom;
  color: blue;
/*  float: left; */
}

div#content {
  clear: both;
/*  border: solid green 1px; */
/*  background: #eeeecc; */
}

div#footer {
/*  border: solid teal 1px; */
/*  background: #cceeee; */
/*  font-size: 80%; */
}

/* hrules in the document can be styled separately from the footer hrule */
div#content hr {
  border: solid gray;
  border-width: 1px 0 0 0;
}

div#footer hr {
  border: solid gray;
  border-width: 1px 0 0 0;
}

div.voice2 /*, div.voice2 a */ {
  color: #008000
}

div.voice3 /*, div.voice3 a */ {
  color: #000080
}

div.voice4 /*, div.voice4 a */ {
  color: #800000
}

div.voice5 /*, div.voice5 a */ {
  color: #008080
}

div.voice6 /*, div.voice6 a */ {
  color: #800080
}

div.voice7 /*, div.voice7 a */ {
  color: #808000
}

div.voice8 /*, div.voice8 a */ {
  color: #808080
}

.changed {
  background: #ffdddd;
}

a.missing {
  background: #ddffdd;
/*  color: #cc00cc; */
}

blockquote {
  margin: 15px 30px 0 10px;
  padding-left: 20px;
  border-left: 5px solid #ddd;
}

/* stuff for flickr badge */
div.flickr_badge_image {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.flickr_badge_image img {
  border: 1px solid black;
/*  margin: 5px 5px 5px 5px; */
  margin: 5px;
  padding: 0px;

/* This is very interesting. There was a "bug", it seemed, that there was
  extra space at the bottom of the div enclosing the pix. Why? Well, it
  seems that the images defaulted to
    vertical-align: baseline;
  which wants to put in "leading" below the baseline. Setting
    vertical-align: bottom;
  solves the extra space problem, but looks bad; setting
    vertical-align: middle;
  looks nice. ;-)
*/
  vertical-align: middle;
}

div.flickr_badge {
/*  background-color: #CCCCCC; */
  padding: 0px;
  text-align: center;
}

/* Forth markup!! (Sorry, Michael!) */
code.forth {
  font-family: monospace;
  font-size: 100%;
  font-weight: bold;
  margin: 0 0.2em;
  color: #800000;
}

/* multiline li's are hard to read unless separated */
li {
  margin: 0 0 0.4em 0;
}
