/*
 * $Id$
 *
 * Style sheet for nimblemachines.com wiki
 */

body {
  margin: 40px 3pc 1pc 5pc;  /* top should be -icon top for icon flush */
  width: 37pc;
/*  border: blue solid 1px; */
}

a img {
  border: none;
}

div#footer a img {
  margin: 0px 10px 0px 0px;
}

img#icon {
  border: solid black 1px;
  margin:  -30px -60px 1pc 1pc;  /* current icon is 240px w * 180 px h */
  padding: 0;
  float: right;
}

div#header h1 {
/*  border: solid blue 1px; */
  margin: 0 0 0 0;
  padding: 0;
  color: #008;
}

div#header h1 a {
  color: #008;
}

div#header hr {
  margin: 0;
  border: solid #008;
  border-width: 1px 0 0 0;
}

pre {
  clear: right;  /* so it can't run into icon */
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div#content {
/*  border: solid green 1px; */
/*  background: #eeeecc; */
  margin: 1pc 0 0 0;
}

div#footer {
/*  border: solid teal 1px; */
/*  background: #cceeee; */
/*  font-size: 80%; */
}

div#content h2, div#content h3, div#content h4, div#content h5, div#content h6 {
  margin-top: 0.33em;
  margin-bottom: 0.16em;
/*  border: black solid 1px; */
}

div#content p {
/*  border: black solid 1px;*/
  margin-top: 0pt;
  margin-bottom: 1em;
}

/* hrules in the document can be styled separately from the footer hrule */
div#content hr {
  border: solid gray;
  border-width: 1px 0 0 0;
  margin: 4pt 0;
}

div#footer hr {
  border: solid gray;
  border-width: 1px 0 0 0;
  margin: 4pt 0;
}

div.voice2 /*, div.voice2 a */ {
  color: #008000;
  margin: 0 -1pc 0 1pc;
}

div.voice3 /*, div.voice3 a */ {
  color: #000080;
  margin: 0 -1pc 0 1pc;
}

div.voice4 /*, div.voice4 a */ {
  color: #800000;
  margin: 0 -1pc 0 1pc;
}

div.voice5 /*, div.voice5 a */ {
  color: #008080;
  margin: 0 -1pc 0 1pc;
}

div.voice6 /*, div.voice6 a */ {
  color: #800080;
  margin: 0 -1pc 0 1pc;
}

div.voice7 /*, div.voice7 a */ {
  color: #808000;
  margin: 0 -1pc 0 1pc;
}

div.voice8 /*, div.voice8 a */ {
  color: #808080;
  margin: 0 -1pc 0 1pc;
}

.changed {
  background: #ffdddd;
}

a.missing {
  background: #ddffdd;
/*  color: #cc00cc; */
}

div.missingpages h2 {
  margin-bottom: 0;
/*  border: 1px solid green; */
}

div.missingpages ul {
  margin-top: 0;
/*  list-style-image: none;  /* no ugly bullets */
/*  border: 1px solid red; */
}

div.missingpages li {
  display: block;  /* trying to turn off the bullet above doesn't work! */
}

blockquote {
  margin: 15px 30px 0 10px;
  padding-left: 20px;
  border-left: 5px solid #ddd;
}

/* stuff for flickr badge */
div.flickr_badge_image {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.flickr_badge_image img {
  border: 1px solid black;
/*  margin: 5px 5px 5px 5px; */
  margin:  5px;
  padding: 0px;

/* This is very interesting. There was a "bug", it seemed, that there was
  extra space at the bottom of the div enclosing the pix. Why? Well, it
  seems that the images defaulted to
    vertical-align: baseline;
  which wants to put in "leading" below the baseline. Setting
    vertical-align: bottom;
  solves the extra space problem, but looks bad; setting
    vertical-align: middle;
  looks nice. ;-)
*/
  vertical-align: middle;
}

div.flickr_badge {
/*  background-color: #CCCCCC; */
  margin: 0;
  padding: 0px;
  text-align: left;
}

/* man page links */
code.man {
  font-family: serif;
  font-style: italic;
}

/* Forth markup!! (Sorry, Michael!) */
code.forth, div.voiceforth, div.voiceforth pre {
  font-family: monospace;
  font-size: 100%;
  font-weight: bold;
  margin: 0 0.2em;
  color: #800000;
}

/* multiline li's are hard to read unless separated */
div#content li {
  margin: 0 0 0.25em 0;
}

/* comments! */
p.comment {
  display: none;
}
