/*
 * Basic style sheet for wiki sites
 */

body {
  margin: 3pc 3pc 1pc 5pc;
  width: 37pc;
/*  border: blue solid 1px; */
}

a img {
  border: none;
}

div#footer a img {
  margin: 0px 10px 0px 0px;
}

img#icon {
  /* border: solid black 1px; */
  margin:  0 0 0 0;
  padding: 0;
  float: right;
}

div#header h1 {
/*  border: solid blue 1px; */
  margin: 0 0 0 0;
  padding: 0;
  color: #008;
  color: #336699;
}

div#header h1 a {
  color: #008;
  color: #336699;
}

div#header hr {
  margin: 0;
  border: solid #008;
  border: solid #336699;
  border-width: 2px 0 0 0;
}

/* All three of these buttons live in the left margin */
div#header a.edit, div#header a.sticky, div#header a.home {
  margin: 0 0 0 -56px;
  float: left;
}

/* stickypage link is _below_ edit */
div#header a.sticky {
  margin-top: 40px;
}

/* homepage link is _below_ sticky */
div#header a.home {
  margin-top: 80px;
}
pre {
  clear: right;  /* so it can't run into icon */
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div#content {
/*  border: solid green 1px; */
/*  background: #eeeecc; */
  margin: 1pc 0 0 0;
}

div#footer {
  clear: right;  /* so it can't run into icon */
/*  border: solid teal 1px; */
/*  background: #cceeee; */
/*  font-size: 80%; */
}

div#content h2, div#content h3, div#content h4, div#content h5, div#content h6 {
  margin-top: 0.33em;
  margin-bottom: 0.16em;
/*  border: black solid 1px; */
}

div#content p {
/*  border: black solid 1px;*/
  margin-top: 0pt;
  margin-bottom: 1em;
}

/* hrules in the document can be styled separately from the footer hrule */
div#content hr {
  border: solid gray;
  border-width: 1px 0 0 0;
  margin: 4pt 0;
}

div#footer hr {
  border: solid gray;
  border-width: 1px 0 0 0;
  margin: 4pt 0;
}

div.voice2 /*, div.voice2 a */ {
  color: #008000;
  margin: 0 -1pc 0 1pc;
}

div.voice3 /*, div.voice3 a */ {
  color: #000080;
  margin: 0 -1pc 0 1pc;
}

div.voice4 /*, div.voice4 a */ {
  color: #800000;
  margin: 0 -1pc 0 1pc;
}

div.voice5 /*, div.voice5 a */ {
  color: #008080;
  margin: 0 -1pc 0 1pc;
}

div.voice6 /*, div.voice6 a */ {
  color: #800080;
  margin: 0 -1pc 0 1pc;
}

div.voice7 /*, div.voice7 a */ {
  color: #808000;
  margin: 0 -1pc 0 1pc;
}

div.voice8 /*, div.voice8 a */ {
  color: #808080;
  margin: 0 -1pc 0 1pc;
}

.changed {
  background: #ffdddd;
}

a.missing {
  background: #ddffdd;
/*  color: #cc00cc; */
}

div.missingpages h2 {
  margin-bottom: 0;
/*  border: 1px solid green; */
}

div.missingpages ul {
  margin-top: 0;
/*  list-style-image: none;  /* no ugly bullets */
/*  border: 1px solid red; */
}

div.missingpages li {
  display: block;  /* trying to turn off the bullet above doesn't work! */
}

blockquote {
  margin: 15px 30px 0 10px;
  padding-left: 20px;
  border-left: 5px solid #ddd;
}

/* stuff for flickr badge */
div.flickr_badge_image {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.flickr_badge_image img {
  border: 1px solid black;
/*  margin: 5px 5px 5px 5px; */
  margin:  5px;
  padding: 0px;

/* This is very interesting. There was a "bug", it seemed, that there was
  extra space at the bottom of the div enclosing the pix. Why? Well, it
  seems that the images defaulted to
    vertical-align: baseline;
  which wants to put in "leading" below the baseline. Setting
    vertical-align: bottom;
  solves the extra space problem, but looks bad; setting
    vertical-align: middle;
  looks nice. ;-)
*/
  vertical-align: middle;
}

div.flickr_badge {
/*  background-color: #CCCCCC; */
  margin: 0;
  padding: 0px;
  text-align: left;
}

/* man page links */
code.man {
  font-family: serif;
  font-style: italic;
}

/* git commands */
code.git-command {
  font-family: serif;
  font-weight: normal;
}

/* Forth markup!! (Sorry, Michael!) */
code.forth, div.voiceforth, div.voiceforth pre {
  font-family: monospace;
  font-size: 100%;
  font-weight: bold;
  margin: 0 0.2em;
  color: #800000;
}

/* multiline li's are hard to read unless separated */
div#content li {
  margin: 0 0 0.25em 0;
}

/* comments! */
p.comment {
  display: none;
}

/*
 * Colour palettes! 
 *
 * NOTE: the <span> elements have to float left, otherwise they have zero width
 * and are not rendered. If you put a border on them you will see this.
 *
 * In order to return to "normal" after displaying a palette, therefore, we add
 * a div.palette-break, which, being clear:both, will return us to normal block
 * rendering.
 */

div.palette-break {
  display: block;
  clear: both;
}

span.colour-swatch {
  background: url(/_image/swatch_32.png) no-repeat;
  /*border: solid black 1px ;*/
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 6px 6px 0;
}

